/*
* Catppuccin Mocha theme for Waybar
* Maintainer: rubyowo
*/

@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka Term SS04";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 10px;
}

#workspaces,
#clock,
#battery,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#backlight,
#tray,
#custom-uptime,
#custom-notification,
#custom-wlogout,
#custom-cava {
  background-color: @base;
  color: @text;
  padding: 5px 15px;
  margin: 4px 3px;
  border: 2px solid @surface0;
  border-radius: 10px;
}

#custom-cava {
    color: @lavender;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @subtext0;
  border-radius: 5px;
}

#workspaces button.active {
  color: @mauve;
  background-color: @surface5;
}

#workspaces button:hover {
  background-color: @surface1;
  color: @text;
}

#pulseaudio.muted {
  color: @red;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
}

#custom-wlogout {
  color: @red;
}

#workspaces button#niri-workspace-5 {
  background: None;
  border: None;
  font-size: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
