@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'Iosevka Term SS04';
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    margin-left: 10px;
    margin-right: 10px;
}

#clock,
#battery,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#backlight,
#tray,
#custom-uptime,
#custom-notification {
    background-color: @surface0;
    padding: 3px 10px;
    margin: 10px 3px;
    border-radius: 0px;
    color: @text;
}

#workspaces, #custom-wlogout {
    background-color: @surface0;
    padding: 3px 10px;
    margin: 10px 15px;
    border-radius: 0px;
    color: @text;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @subtext0;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#workspaces button:hover {
    background-color: @surface1;
    color: @text;
}

#workspaces button#niri-workspace-5 {
    background: none;
    border: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

#pulseaudio.muted {
    color: @red;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
}

#custom-wlogout {
    color: @red;
}
